.profile__avatar-button {
  background: url(../../../images/edit-avatar.svg) no-repeat center rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  border: none;
  visibility: hidden;
  cursor: pointer;
  transition: opacity 0.5s ease-out;
}